<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <modal-form>
        <div id="customerModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Customer</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body" th:insert="fragments/footer :: footer"></div>

                </div>

            </div>
        </div>
    </modal-form>

</body>
</html>
