<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta th:include="~{fragments/head :: metas}" th:remove="tag"/>
  <title>Login page</title>
  <style th:include="~{fragments/head :: styles}" th:remove="tag"/>
  <script th:include="~{fragments/head :: scripts}" th:remove="tag"/>

</head>
<body>

<div class="container">
  <h1>Login page</h1>
  <p th:if="${loginError}" class="error">Wrong user or password</p>
  <form th:action="@{/login}" method="post">
    <div class="form-outline mb-4">
      <label class="form-label" for="username">Username</label>:
      <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" /> <br />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>:
      <input type="password" class="form-control" id="password" name="password" /> <br />
    </div>
    <input type="submit" value="Log in" />
  </form>
</div>
</body>
</html>